# stinky stink
alphabet ABCDEFGHIJKLMNOPQRSTUVWXYZ.,*();=[]{}+-/ 	
reflector IMETCGFRAYSQBZXWLHKDVUPOJN,.(*;)[={]+}/- 	
#patchboard JWULC(;)	MNO=H,PQ.ZYX I[]{}RADK+-/E*GVBTSF
rotor LPGSZMHAE*OQ()KVX	.=RF;YB,UTN I[]{}CJ+-/DW Z V
rotor SLV(GBTF.XJ;QOH,)	EW+ -/[]{}=IRZ*YAMKPCNDU Z Q
rotor CJG=DPS;HKTU	[]{}RAWZ()+-/XF MY*N.QO,BVLIE Z I
